<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form>
<label>First Name</label>
<input type="text" name="myfname" minlength="3" pattern="[A-Za-z]" title="Plz enter text [A-Z / a-z] only" required />
<label>Last Name</label>
<input type="text" minlength="8" pattern="[A-Za-z]" title="Plz enter text [A-Z / a-z] only" required /><br /><br />
<label>E-Mail</label>
<input type="email" placeholder="abc@xyz.pqr" required /><br/>
<label>Gender</label>
<input type="text" pattern="[male|female]" required /><br /><br />
<label>Contact No.</label>
<input type="number" minlength="10" maxlength="10" />
<button (click)="onclick()">Click here!</button>
</form>
<router-outlet></router-outlet>